<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <style> 
            .container {
                padding: 106px;
            }
            body {
                background-color: skyblue;
            }
            h1 {
                text-align: center;
            }
            .button {
                text-align:center;
                margin-right: auto;
                margin-left: 280px;
                margin-top: 35px;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div class=container>
            <h1>You are successfully logged in</h1>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary">LOGOUT</button>
        </div>
    </body>
</html>