<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style> 
            .container {
                padding: 106px;
            }
            body {
                background-color: skyblue;
            }
            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class=container>
            <h1>You are successfully logged in</h1>
        </div>
        <form action="/logout" class="inline">
            <button type="submit" class="btn btn-primary" style = "margin-left: 50%;">LOGOUT</button>
        </form>
    </body>
</html>